[webservers]
web-1   ansible_host=178.154.223.34  develop-web-1.ru-central1.internal
web-2   ansible_host=178.154.241.13  develop-web-2.ru-central1.internal

[databases]
main   ansible_host=178.154.227.29  main.ru-central1.internal
replica   ansible_host=178.154.240.57  replica.ru-central1.internal

[storage]
storage   ansible_host=178.154.241.3  storage.ru-central1.internal